@media only screen and (min-width: 1024px){
    body{
        margin: 0;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }
    
    header{
        display: flex;
        justify-content: center;
        background: linear-gradient(#0081B0, transparent 90%)
        no-repeat center;
            background-size: cover;
            padding-bottom: 2%;
    }
    
    .header_wrapper{
        width: 80%;
        position: relative;
    }
    
    nav{
        display: flex;
        justify-content: space-between;
        align-content: center;
    }
    #burger_bar{
        display: none;
    }
    
    #bar_items{
        display: none;
    }
    
    #nav_title{
        color: white;
        text-decoration: none;
    }
    
    #header_menu{
        width: 40%;
        display: flex;
        justify-content: space-between;
        align-content: center;
        flex-wrap: wrap;
    }
    
    #header_menu a{
        color: white;
        text-decoration: none;
    }
    
    #header_login{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 20%;
    }
    
    #login{
        font-size: larger;
        font-family: "Poppins", sans-serif;
        display: flex;
        justify-content: center;
        padding: 2% 10%;
        border: solid 1px rgb(56, 255, 139);
        border-radius: 15px;
    }
    
    #login:hover{
        background-color: rgb(138, 228, 120);
    }
    
    #login:hover a{
        color: black;
    }
    
    #login a{
        text-decoration: none;
        color: white;
    }
    
    #signup{
        font-size: larger;
        font-family: "Poppins", sans-serif;
        display: flex;
        justify-content: center;
        padding: 2% 10%;
        border: solid 1px rgb(56, 255, 139);
        border-radius: 15px 0px 15px 0px;
    }
    
    #signup a{
        text-decoration: none;
        color: white;
    }
    
    #signup:hover{
        background-color: rgb(138, 228, 120);
    }
    
    #signup:hover a{
        color: black;
    }
    
    #header_input_wrapper_inside{
        display: flex;
    }
    
    #header_input_wrapper_inside h6{
        margin: 0;
        font-size: 16px;
    }
    
    #header_input_wrapper_inside img{
        height: 80%;
    }
    
    #header_hr{
        margin-right: 0%;
    }
    
    #header_input_wrapper_inside input{
        background: transparent;
        border: none;
        box-shadow: 0px 1px 3px gray;
        border-radius: 8px;
        padding: 3px;
        width: 80%;
    }
    
    #header_input_wrapper{
        display: flex;
        justify-content: space-between;
        border: 1px gray solid;
        padding: 1%;
        border-radius: 40px;
    }
    
    #header_search{
        background-color: #008EC4;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        margin-left: 1%;
        width: 3.5%;
    }
    
    #header_search img{
        width: 40%;
    }
    
    #header_input{
        background-color: white;
        padding: 2% 3%;
        border-radius: 50px;
        box-shadow: 0px 0px 20px #008EC4;
        position: relative;
        margin-top: 4%;
    }
    
    #header_input h1{
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: normal;
        font-size: 60px;
        color: #008EC4;
        margin: 0;
    }
    
    #header_input h2{
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 32px;
    }
    
    main{
        width: 100%;  
        margin-bottom: 4%;
    }
    
    .house_list{
        display: flex;
        justify-content: center;
    }
    
    #house_list_wrapper{
        width: 60%;
        float: left;
    }
    
    #house_pages{
        display: flex;
        justify-content: center;
    }
    
    #house_pages_wrapper{
        width: 20%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    #house_pages_wrapper a{
        text-decoration: none;
        color: black;
        font-size: larger;
    }
    
    #number{
        text-align: center;
        width: 13%;
        border-radius: 50%;
    }
    
    #number:hover{
        background-color: #008EC4;
    }
    
    #news{
        width: 30%;
        height: 80vh;
        float: right; 
        background-color:  #90e0fd;
        margin-left: 5%;
        text-align: center;
        border-radius: 25px;
    }
    
    #news_wrapper{
        display: flex;
        justify-content: center;
        margin-bottom: 10%;
    }
    
    #news_item{
        width: 90%;
    }
    
    #news_div{
        display: flex;
        border-radius: 25px;
        box-shadow: rgb(119, 119, 119) 0px 0px 10px;
        margin-bottom: 5%;
    }
    
    #img_1{
        width: 25%;
        margin-right: 6%;
        height: 50%;
        border-radius: 25px;
    }
    
    #news_link{
        text-decoration: none;
        color: white;
        background-color: rgb(43, 184, 102);
        padding: 0% 4%;
        border-radius: 25px;
    }
    
    #title_news{
        margin: 0;
        text-align: left;
    }
    
    #text_news {
        font-size: small;
        text-align: left;
    }
    
    #news_all{
        margin-top: 50%;
        text-decoration: none;
        color: white;
        background-color: rgb(28, 116, 86);
        border-radius: 25px;
        padding: 2% 5%;
    }
    
    #news_all:hover{
        background-color: #ffffff;
        color: black;
    }
    
    #house{
        width: 100%; 
        display: flex;
        background-color: rgb(221, 221, 221);
        border-radius: 75px 0px 0px 25px;
        margin-bottom: 2%;
    }
    
    #house_img img{
        border-radius: 80px 0px 0px 25px;
    }
    
    #house_info{
        width: 70%;
        padding-left: 2%;
    }
    
    #house_info h4{
        margin-bottom: 0%;
    }
    
    #inside_icons{
        display: flex;
        justify-content: space-between;
    }
    
    #inside_icons_content{
        display: flex;
        align-items: center;
        width: 25%;
    }
    
    #icon{
        height: 30%;
    }
    
    #text{
        width: 100%;
    }
    
    #info{
        display: flex;
        width: 70%;
    }
    
    #info hr{
        background-color: black;
        width: 1px;
        border: none;
    }
    
    #availability{
        display: flex;
        align-items: center;
        margin-top: 2%;
    }
    
    #availability_div{
        background-color: #49735A;
        border-radius: 25px;
        padding: 1% 2%;
        margin-right: 4%;
        color: white;
    }
    
    #availability p{
        margin: 0%;
    }
    
    #availability_div span{
        font-weight: bold;
    }
    
    footer{
        background-color: black;
        color: white;
        text-align: center;
        margin-top: auto;
        width: 100%;
      }
    
      #footer_wrapper{
        display: flex;
        justify-content: space-evenly;
      }
    
      #footer_div a{
        text-decoration: none;
        color: white;
      }
    
      #footer_div a:hover{
        animation: glow 1s ease-in-out infinite alternate;
      }
    
      @keyframes glow {
        from {
          text-shadow: 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #e60073
        }
        
        to {
          text-shadow: 0 0 5px #fff, 0 0 5px #ff4da6, 0 0 5px #ff4da6
        }
    }
      #copyright{
        margin: 0;
        padding: 1%;
      }
    }


    @media only screen and (max-width:1023px) {
        body{
            margin: 0;
            font-family: "Poppins", sans-serif;
            font-weight: 400;
            font-style: normal;
            min-height: 100vh;
            display: flex;
            flex-direction: column;
        }
        
        header{
            display: flex;
            justify-content: center;
            background: linear-gradient(#0081B0, transparent 90%)
            no-repeat center;
                background-size: cover;
                padding-bottom: 2%;
        }
        
        .header_wrapper{
            width: 90%;
            position: relative;
        }
        
        nav{
            display: flex;
            justify-content: space-between;
            align-content: center;
        }
        #burger_bar{
            display: none;
        }
        
        #bar_items{
            display: none;
        }
        
        #nav_title{
            color: white;
            text-decoration: none;
        }
        
        #header_menu{
            width: 50%;
            display: flex;
            justify-content: space-between;
            align-content: center;
            flex-wrap: wrap;
        }
        
        #header_menu a{
            color: white;
            text-decoration: none;
        }
        
        #header_login{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 20%;
        }
        
        #login{
            font-size: larger;
            font-family: "Poppins", sans-serif;
            display: flex;
            justify-content: center;
            padding: 2% 10%;
            border: solid 1px rgb(56, 255, 139);
            border-radius: 15px;
        }
        
        #login:hover{
            background-color: rgb(138, 228, 120);
        }
        
        #login:hover a{
            color: black;
        }
        
        #login a{
            text-decoration: none;
            color: white;
            font-size: small;
        }
        
        #signup{
            font-size: larger;
            font-family: "Poppins", sans-serif;
            display: flex;
            justify-content: center;
            padding: 2% 5%;
            border: solid 1px rgb(56, 255, 139);
            border-radius: 15px 0px 15px 0px;
        }
        
        #signup a{
            text-decoration: none;
            color: white;
            font-size: small;
        }
        
        #signup:hover{
            background-color: rgb(138, 228, 120);
        }
        
        #signup:hover a{
            color: black;
        }

        #header_input_wrapper_inside{
            display: flex;
            padding: 3%;
        }
        
        #header_input_wrapper_inside h6{
            margin: 0;
            font-size: 25px;
        }
        
        #header_input_wrapper_inside img{
            height: 10%;
            width: 5%;
        }
        
        #header_hr{
            margin-right: 0%;
        }
        
        #header_input_wrapper_inside input{
            background: transparent;
            border: none;
            box-shadow: 0px 1px 3px gray;
            border-radius: 8px;
            padding: 3px;
            width: 100%;
        }
        
        #header_input_wrapper{
            display: block;
            border: 1px gray solid;
            padding: 1%;
            border-radius: 40px;
        }
        
        #inside_design{
            width: 50%;
        }

        #header_search{
            background-color: #008EC4;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 25px;
            width: 3%;
            padding: 5px 20px;
            margin-left: 5%;
            margin-bottom: 2%;
        }
        
        #header_search img{
            width: 100%;

        }
        
        #header_input{
            background-color: white;
            padding: 2% 3%;
            border-radius: 50px;
            box-shadow: 0px 0px 20px #008EC4;
            position: relative;
            margin-top: 4%;
        }
        
        #header_input h1{
            font-family: "Poppins", sans-serif;
            font-weight: 600;
            font-style: normal;
            font-size: 60px;
            color: #008EC4;
            margin: 0;
        }
        
        #header_input h2{
            font-family: "Poppins", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 32px;
        }
        
        main{
            width: 100%;  
            margin-bottom: 4%;
        }
        
        .house_list{
            display: block;
        }
        
        #house_list_wrapper{
            display: flex;
            justify-content: center;
        }

        #wrapper_11{
            width: 90%;
        }
        
        #house_pages{
            display: flex;
            justify-content: center;
        }
        
        #house_pages_wrapper{
            width: 20%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        
        #house_pages_wrapper a{
            text-decoration: none;
            color: black;
            font-size: larger;
        }
        
        #number{
            text-align: center;
            width: 13%;
            border-radius: 50%;
        }
        
        #number:hover{
            background-color: #008EC4;
        }
        
        #news{
            width: 100%;
            height: 80vh;
            text-align: center;
            border-radius: 25px;
        }
        
        #news_wrapper{
            display: flex;
            justify-content: center;
            margin-bottom: 10%;
        }
        
        #news_item{
            width: 90%;
        }
        
        #news_div{
            display: flex;
            border-radius: 25px;
            box-shadow: rgb(119, 119, 119) 0px 0px 10px;
            margin-bottom: 5%;
        }
        
        #img_1{
            width: 25%;
            margin-right: 6%;
            height: 50%;
            border-radius: 25px;
        }
        
        #news_link{
            text-decoration: none;
            color: white;
            background-color: rgb(43, 184, 102);
            padding: 0% 4%;
            border-radius: 25px;
        }
        
        #title_news{
            margin: 0;
            text-align: left;
        }
        
        #text_news {
            font-size: small;
            text-align: left;
        }
        
        #news_all{
            margin-top: 100%;
            text-decoration: none;
            color: white;
            background-color: rgb(28, 116, 86);
            border-radius: 25px;
            padding: 2% 5%;
        }
        
        #news_all:hover{
            background-color: #ffffff;
            color: black;
        }
        
        #house{
            width: 100%; 
            display: flex;
            background-color: rgb(221, 221, 221);
            border-radius: 75px 0px 0px 25px;
            margin-bottom: 2%;
        }
        
        #house_img img{
            border-radius: 80px 0px 0px 25px;
        }
        
        #house_info{
            width: 70%;
            padding-left: 2%;
        }
        
        #house_info h4{
            margin-bottom: 0%;
        }
        
        #inside_icons{
            display: flex;
            justify-content: space-between;
        }
        
        #inside_icons_content{
            display: flex;
            align-items: center;
            width: 25%;
        }
        
        #icon{
            height: 30%;
        }
        
        #text{
            width: 100%;
        }
        
        #info{
            display: flex;
            width: 70%;
        }
        
        #info hr{
            background-color: black;
            width: 1px;
            border: none;
        }
        
        #availability{
            display: flex;
            align-items: center;
            margin-top: 2%;
        }
        
        #availability_div{
            background-color: #49735A;
            border-radius: 25px;
            padding: 1% 2%;
            margin-right: 4%;
            color: white;
        }
        
        #availability p{
            margin: 0%;
        }
        
        #availability_div span{
            font-weight: bold;
        }
        
        footer{
            background-color: black;
            color: white;
            text-align: center;
            margin-top: auto;
            width: 100%;
          }
        
          #footer_wrapper{
            display: flex;
            justify-content: space-evenly;
          }
        
          #footer_div a{
            text-decoration: none;
            color: white;
          }
        
          #footer_div a:hover{
            animation: glow 1s ease-in-out infinite alternate;
          }
        
          @keyframes glow {
            from {
              text-shadow: 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #e60073
            }
            
            to {
              text-shadow: 0 0 5px #fff, 0 0 5px #ff4da6, 0 0 5px #ff4da6
            }
        }
          #copyright{
            margin: 0;
            padding: 1%;
          }
    }




    @media only screen and (max-width:600px) {
        body{
            margin: 0;
            font-family: "Poppins", sans-serif;
            font-weight: 400;
            font-style: normal;
            min-height: 100vh;
            display: flex;
            flex-direction: column;
        }
        
        header{
            background: linear-gradient(#0081B0, transparent 90%)
            no-repeat center;
                background-size: cover;
                padding-bottom: 2%;
        }
        
        .header_wrapper{
            width: 85%;
            position: relative;
        }
        nav{
            display: block;
        }
    
        #nav_title{
            color: white;
            text-decoration: none;
        }
    
        #burger_bar{
            display: block;
            position: absolute;
            right: 0%;
            top: 0%;
            margin-top: 4%;
        }
    
        #bar_items{
            display: none;
            flex-direction:column;
            padding-bottom: 25%;
        }
    
        #bar_items a{
            text-decoration: none;
            color: white;
            border-bottom: 1px solid black;
            margin-bottom: 2%;
        }
    
        #header_menu{
            width: 50%;
            display: flex;
            justify-content: space-between;
            align-content: center;
            flex-wrap: wrap;
            display: none;
        }
        
        #header_menu a{
            color: white;
            text-decoration: none;
        }
        
        #header_login{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 20%;
            display: none;
        }
        
        #login{
            font-size: larger;
            font-family: "Poppins", sans-serif;
            display: flex;
            justify-content: center;
            padding: 2% 10%;
            border: solid 1px rgb(56, 255, 139);
            border-radius: 15px;
        }
        
        #login:hover{
            background-color: rgb(138, 228, 120);
        }
        
        #login:hover a{
            color: black;
        }
        
        #login a{
            text-decoration: none;
            color: white;
            font-size: small;
        }
        
        #signup{
            font-size: larger;
            font-family: "Poppins", sans-serif;
            display: flex;
            justify-content: center;
            padding: 2% 5%;
            border: solid 1px rgb(56, 255, 139);
            border-radius: 15px 0px 15px 0px;
        }
        
        #signup a{
            text-decoration: none;
            color: white;
            font-size: small;
        }
        
        #signup:hover{
            background-color: rgb(138, 228, 120);
        }
        
        #signup:hover a{
            color: black;
        }
        
        #header_input_wrapper_inside{
            display: flex;
            align-items: center;
            padding: 3%;
        }
        
        #header_input_wrapper_inside h6{
            margin: 0;
            font-size: 25px;
        }

        #inside_design input{
            height: 3vh;
        }
        
        #header_input_wrapper_inside img{
            height: 10%;
            width: 15%;
            padding-right: 5%;
        }
        
        #header_hr{
            margin-right: 0%;
        }
        
        #header_input_wrapper_inside input{
            background: transparent;
            border: none;
            box-shadow: 0px 1px 3px gray;
            border-radius: 25px;
            padding: 5px;
            width: 100%;
        }
        
        #header_input_wrapper{
            display: block;
            border: 1px gray solid;
            padding: 1%;
            border-radius: 40px;
        }
        
        #inside_design{
            width: 50%;
        }

        #header_search{
            background-color: #008EC4;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 25px;
            width: 3%;
            padding: 15px 30px;
            margin-left: 5%;
            margin-bottom: 2%;
        }
        
        #header_search img{
            width: 200%;

        }
        
        #header_input{
            background-color: white;
            padding: 2% 3%;
            border-radius: 50px;
            box-shadow: 0px 0px 20px #008EC4;
            position: relative;
            margin-top: 4%;
            text-align: center;
        }
        
        #header_input h1{
            font-family: "Poppins", sans-serif;
            font-weight: 600;
            font-style: normal;
            font-size: 45px;
            color: #008EC4;
            margin: 0;
        }
        
        #header_input h2{
            font-family: "Poppins", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 25px;
        }
        
        main{
            width: 100%;  
            margin-bottom: 4%;
        }
        
        .house_list{
            display: block;
        }
        
        #house_list_wrapper{
            display: flex;
            justify-content: center;
        }

        #wrapper_11{
            width: 90%;
        }

        #house_pages{
            display: flex;
            justify-content: center;
        }
        
        #house_pages_wrapper{
            width: 50%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        
        #house_pages_wrapper a{
            text-decoration: none;
            color: black;
            font-size: larger;
        }
        
        #number{
            text-align: center;
            width: 13%;
            border-radius: 50%;
        }
        
        #number:hover{
            background-color: #008EC4;
        }
        
        #news{
            width: 100%;
            height: 80vh;
            text-align: center;
            border-radius: 25px;
        }
        
        #news_wrapper{
            display: flex;
            justify-content: center;
            margin-bottom: 10%;
        }
        
        #news_item{
            width: 90%;
        }
        
        #news_div{
            display: flex;
            border-radius: 25px;
            box-shadow: rgb(119, 119, 119) 0px 0px 10px;
            margin-bottom: 5%;
        }
        
        #img_1{
            width: 25%;
            margin-right: 6%;
            height: 50%;
            border-radius: 25px;
        }
        
        #news_link{
            text-decoration: none;
            color: white;
            background-color: rgb(43, 184, 102);
            padding: 0% 4%;
            border-radius: 25px;
        }
        
        #title_news{
            margin: 0;
            text-align: left;
        }
        
        #text_news {
            font-size: small;
            text-align: left;
        }
        
        #news_all{
            margin-top: 100%;
            text-decoration: none;
            color: white;
            background-color: rgb(28, 116, 86);
            border-radius: 25px;
            padding: 2% 5%;
        }
        
        #news_all:hover{
            background-color: #ffffff;
            color: black;
        }
        
        #house{
            width: 100%; 
            display: flex;
            background-color: rgb(221, 221, 221);
            border-radius: 75px 25px 25px 25px;
            margin-bottom: 2%;
        }
        
        #house_img img{
            border-radius: 10px 10px 10px 10px;
            width:100%;
        }
        
        #house_info{
            width: 70%;
            padding-left: 2%;
        }
        
        #house_info h4{
            margin-bottom: 0%;
        }
        
        #inside_icons{
            display: block;
            border-bottom: solid black 1px;
        }
        
        #inside_icons_content{
            display: flex;
            align-items: center;
            width: 100%;
        }
        
        #icon{
            height: 20%;
        }
        
        #inside_icons_content p{
            width: 100%;
            margin: 0;
        }
        
        #info{
            display: block;
            width: 100%;
        }

        #info P{
            border-bottom: 1px solid rgb(143, 214, 255);
            margin: 0%;
        }
        
        #info hr{
            display: none;
        }
        
        #availability{
            display: flex;
            align-items: center;
            margin-top: 2%;
        }
        
        #availability_div{
            background-color: #49735A;
            border-radius: 25px;
            padding: 2% 5%;
            margin-right: 4%;
            color: white;
        }
        
        #availability p{
            margin: 0%;
        }
        
        #availability_div span{
            font-weight: bold;
        }
        
        footer{
            background-color: black;
            color: white;
            text-align: center;
            margin-top: auto;
            width: 100%;
          }
        
          #footer_wrapper{
            display: block;
          }
        
          #footer_div a{
            text-decoration: none;
            color: white;
          }
        
          #footer_div a:hover{
            animation: glow 1s ease-in-out infinite alternate;
          }
        
          @keyframes glow {
            from {
              text-shadow: 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #e60073
            }
            
            to {
              text-shadow: 0 0 5px #fff, 0 0 5px #ff4da6, 0 0 5px #ff4da6
            }
        }
          #copyright{
            margin: 0;
            padding: 1%;
          }
    }
    